$default-font: "Roboto", sans-serif;
$primary: #252F48;
$secondary: #01134E;
$accent: #0AD69C;
$white: #fff;
$over: #F7F9FC;
$light-gray: #BBC3CF;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 640px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
